.team{
  position: relative;
  padding: 85px 0 100px;
  background: rgba(197, 197, 197, 0.25);
  &:before,
  &:after{
    position: absolute;
    content: url(../img/dot-element.png);
    z-index: 0;
  }
  &:before{
    top: 120px;
    left: 50px;
    transform: rotateZ(90deg);
  }
  &:after{
    right: 50px;
    bottom: 50px;
    transform: rotateZ(0deg);
  }
  &__content{
    @include flex();
    align-items: center;
    position: relative;
    z-index: 2;
    @include lg-max{
      flex-direction: column;
    }
  }
  &__img{
    height: 100%;
    width: 50%;
    border-radius: 15px;
    position: relative;
    top: 40px;
    box-shadow: 0 8px 54px 0 rgba(32,32,32,.11);
    @include lg-max{
      width: 90%;
      top: 0;
    }
  }
  &__info{
    width: 50%;
    padding: 40px 42px;
    background: #fff;
    border-top: 3px solid #bd3025;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 8px 54px 0 rgba(32, 32, 32, 0.11);
    @include lg-max{
      width: 100%;
    }
  }
  &__title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #353535;
  }


  .circle-bg{
    &:before{
      top: 20%;
      right: 30%;
      opacity: 1;
      width: 120px;
      height: 120px;
      background: hsl(5, 67%, 45%);
      border-radius: 20%;
      transform: rotate(45deg);
      z-index: 0;
    }
    &:after{
      top: 40%;
      left: 30%;
      opacity: 1;
      width: 200px;
      height: 200px;
      background: hsl(5, 67%, 45%);
      border-radius: 20%;
      transform: rotate(45deg);
      z-index: 0;
    }
  }
  .circle-bg-2{
    &:before{
      top: 20%;
      left: 2%;
      opacity: 1;
      width: 100px;
      height: 100px;
      background: hsl(5, 67%, 45%);
      border-radius: 20%;
      transform: rotate(45deg);
      z-index: 0;
    }
    &:after{
      bottom: 10%;
      right: 2%;
      opacity: 1;
      width: 150px;
      height: 150px;
      background: hsl(5, 67%, 45%);
      border-radius: 20%;
      transform: rotate(45deg);
      z-index: 0;
    }
  }
}
