.team{
  position: relative;
  padding: 85px 0 100px;
  background: rgba(197, 197, 197, 0.25);
  &:before,
  &:after{
    position: absolute;
    content: url(../img/dot-element.png);
    z-index: -1;
  }
  &:before{
    top: 120px;
    left: 50px;
    transform: rotateZ(90deg);
  }
  &:after{
    right: 50px;
    bottom: 50px;
    transform: rotateZ(0deg);
  }

  &__content{
    @include flex();
    align-items: center;
    @include lg-max{
      flex-direction: column;
    }
  }
  &__info{
    //padding: 40px 42px;
    //background: #fff;
    //min-width: 310px;
    position: relative;
    box-shadow: 1px 1px 20px 4px hsla(0,0%,46%,.14);
    margin-bottom: 20px;
    transition: .5s;
    &:hover{

    }
    //@include lg-max{
    //}

    img{
      height: 345px;
      //margin: 0 auto;
    }
  }

  &__caption{
    position: absolute;
    bottom: 20px;
    width: 85%;
    text-align: center;
    letter-spacing: 1px;
    padding: 12px 30px;
    background: $base-red;
    border-top-right-radius: 50px;
    //border-top-right-radius: 15px;
  }
  &__name{
    font-size: 18px;
    font-weight: 700;
    color: $white;
    &:after{
      content: "";
      position: relative;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      margin: 7px auto 0;
      width: 10%;
      height: 4.2px;
      border-radius: 50%;
      background: $white;
    }
  }
  &__position{
    font-style: italic;
    font-size: 16px;
    margin-top: 4px;
    color: $white;
  }

  &__title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #7e7e7e;
  }


  &__rectangle-right{
    position: absolute;
    width: 60%;
    height: 150px;
    background: url(../img/worn-dots.png);
    background-size: auto;
    z-index: -1;
    right: 0;
    bottom: 16%;
  }
  &__rectangle-left{
    position: absolute;
    width: 60%;
    height: 246px;
    background: url(../img/worn-dots.png);
    background-size: auto;
    z-index: -1;
    left: 0;
    bottom: 40%;
  }
}